body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.color-red{
    color: rgb(226, 24, 24);
}
/* display:flex mane duita div ba kisu k soman vabe vag kore deoya */
.flexible-container{
    display: flex;
    padding-bottom: 10px;
}
.wight-half{
    width: 50%;
    padding: 2%;
}
.wight-half img{
    width: 80%;
    height: 550px;
    padding-left: 20px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(img/gb11.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
/* midle-banner ar background dibo soto kore right side a */
.midle-banner{
    background-image: url(img/gb11.png);
    background-repeat: no-repeat;
    background-position: right;


}

/* experiance area */
.experiance-area{
    background-image: url(img/gb11.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experiance-item{
    width: 45%;
    margin-left: 20px;
    padding-left: 30px;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px red;


}